#reserve-page {
    /*min-height: 100vh;*/
    padding-top: 100px;
}

/* CHOOSING BLOCK */

.title-block {
    padding-top: 10px;
    margin-bottom: 50px;
}

.choosing-block {
    display: flex;
    background-color: #262626;
    border-radius: 10px;
    padding: 10px;
}

.choosing-block .inputChooseLabel {
    position: relative;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.choosing-block .inputChoose {
    padding: 12px 15px;
    /*min-width: 250px;*/
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.choosing-block .inputChooseLabel:hover {
    border-color: #FFC178;
}

.choosing-block .inputChooseLabel:hover svg path {
    transition-duration: 0.3s;
}

.choosing-block .inputChooseLabel:hover svg path {
    stroke: #FFC178;
}

.choosing-block .inputChooseLabel:not(:last-of-type) {
    margin-right: 20px;
}

.choosing-block .inputChooseLabel svg {
    position: absolute;
    right: 10px;
    top: calc(50% - 16px)
}

/* CALENDAR */

.calendar-choosing-block .calendar {
    font-size: 20px;
}

.calendar-choosing-block .calendar:not(:last-of-type) {
    margin-right: 15px;
}

/* CALENDAR */

.calendarBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendarBlock .dateCalendar {
    background-color: #000;
    border: 1px solid #FFC178;
    border-radius: 5px;
}

.calendarBlock .dateCalendar button {
    transition-duration: 0.3s;
}

.calendarBlock .dateCalendar button {
    background-color: #000;
    color: #fff;
}

.calendarBlock .dateCalendar button:hover {
    background-color: #262626;
}

.calendarBlock .dateCalendar button:focus {
    background-color: #9f6c23;
}

.calendarBlock .dateCalendar button:disabled {
    background-color: #181818;
}

.calendarBlock .dateCalendar .react-calendar__navigation .react-calendar__navigation__label {
    background-color: #000;
}

.calendarBlock .dateCalendar .react-calendar__navigation .react-calendar__navigation__label:hover {
    background-color: #262626;
}

.calendarBlock .dateCalendar .react-calendar__navigation .react-calendar__navigation__arrow {
    background-color: #000;
}

.calendarBlock .dateCalendar .react-calendar__navigation .react-calendar__navigation__arrow:hover {
    background-color: #262626;
}

.calendarBlock .dateCalendar .react-calendar__viewContainer .react-calendar__tile--now {
    background-color: #9f6c23;
}

.calendarBlock .dateCalendar .react-calendar__viewContainer .react-calendar__year-view__months .react-calendar__tile--hasActive {
    background-color: #9f6c23;
}
